.indicator {
  display: block;
  position: fixed;
  right: 0%;
  bottom: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.unselected {
  width: 0.5em;
  height: 0.5em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  margin: 0.5em .13em 0.5em .13em;
}

.selected {
  width: 0.5em;
  height: 0.5em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: orange;
  margin: 0.5em .13em 0.5em .13em;
}
