.indicator {
  display: block;
  position: absolute;
  right: 1.5em;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
}

.unselected {
  width: 0.5em;
  height: 0.5em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  margin: 0.5em 0 0.5em 0;
}

.selected {
  width: 0.5em;
  height: 0.5em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: orange;
  margin: 0.5em 0 0.5em 0;
}
