.portfolio {
  display: block;
  margin: auto;
  height: 100vh;
  overflow-y: scroll;
 
  
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 10% 20% 0 20%;
}

.project_title {
  margin: -0.75em;
  text-align: center;
}

.project__wrapper {
  width: 10em;
  height: 10em;
  margin: 2em;
  border: 2px solid var(--pTaupe);
  border-radius: 50%;
}

.img_holder img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.modal--closed {
  display: none;
}

.modal--open {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  align-content: center;
  width: 80vw;
  height: 90vh;
  top: 5%;
  left: 10%;
  border: 1px solid black;
}

.modal__closeButton {
  z-index: 1;
  cursor: pointer;
  color: red;
}
.modal__title {
  color:var(--cyan);
  text-shadow: 0.5px 0.5px var(--pTaupe);
}

.modal__text {
  background-color: var(--gunmetal);
  color:var(--skyBlue);
  font-size: 1.25rem;
  padding: 1em;
  width: 30%;
  margin: 0;
}

.modal__link {
  background-color: var(--gunmetal);
  color: var(--isabelline);
  font-weight: 900;
  padding: 0.4rem 1em;
  text-transform: uppercase;
  text-decoration: none;
}

.modal_img_holder {
  float: right;
  height: 100%;
  width: 70%;
  margin: 0;
}
.modal__image {
  height: 100%;
  width: 70%;
}

@media screen and (max-width: 600px) {
  .modal--open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column-reverse;
    width: calc(100vw - 10px);
    margin: 0;
    border: 2px solid black;
    scroll-snap-destination: 0% 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .modal_img_holder {
    width: 100%;
  }
  .modal__image {
    height: unset;
    width: 100%;
    margin: 0;
  }

  .modal__text {
    width: 90%;
  }
}
