.portfolio {
  display: block;
  position: relative;
  margin: auto;
  background-color: #fff;
  width: 70vw;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  max-height: fit-content;
  margin: 10% auto;
  max-width: fit-content;
}
.heading {
  background-color: var(--blue);
  height: 2em;
  color: var(--orange);
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  box-shadow: 2px 2px 4px rgb(82, 81, 81);
}

.project_title {
  margin: -0.75em;
  text-align: center;
  color: var(--blue);
}

.project__wrapper {
  width: 10em;
  height: 10em;
  margin: 1.5em;
  border: 3px solid var(--orange);
  border-radius: 50%;
}

.img_holder img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.modal--closed {
  display: none;
}

.modal--open {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  align-content: center;
  width: 80vw;
  height: 90vh;
  top: -20%;
  left: -5%;
  border: 1px solid black;
}

.modal__closeButton {
  z-index: 1;
  cursor: pointer;
  color: red;
}
.modal__title {
  color: var(--orange);
  text-shadow: 0.5px 0.5px var(--light-shadow);
}

.modal__text {
  background-color: var(--blue);
  color: #fff;
  font-size: 1.25rem;
  padding: 1em;
  width: 30%;
  margin: 0;
}

.modal__link {
  color: var(--blue);
  font-weight: 900;
  background-color: #fff;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.modal_img_holder {
  float: right;
  height: 100%;
  width: 70%;
  margin: 0;
}
.modal__image {
  height: 100%;
  width: 70%;
}

@media screen and (max-width: 600px) {
  .modal--open {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column-reverse;
    width: calc(100vw - 10px);
    margin: 0;
    border: 2px solid black;
    scroll-snap-destination: 0% 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  /* .modalClass{
    width:95vw;
  } */
  .modal_img_holder {
    width: 100%;
  }
  .modal__image {
    height: unset;
    width: 100%;
    margin: 0;
  }

  .modal__text {
    width: 90%;
  }
}
