.portfolio {
  display: block;
  position: relative;
  margin: auto;
  background-color: #fff;
  height: 90vh;
}

.project__wrapper {
  width: 7em;
  height: 7em;
  margin: 2em;
  border: 2px solid orange;
  border-radius: 50%;
}

.modal--closed {
  display: none;
}

.modal--open {
  display: block;
  position: fixed;
  top: 5%;
  right: 10%;
  left: 10%;
  width: 80vw;
  height: 90%;
  z-index: 10000;
}

.modal__closeButton {
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
}

.modal__text {
  background-color: rgb(44, 53, 49);
  float: left;
  font-size: 1.75rem;
  padding: 1rem;
  width: 32.9%;
  height: 96.3%;
  margin: 0;
}

.modal__link {
  background-color: var(--lt-blue);
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.img_holder img {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.modal__image {
  float: right;
  opacity: 1;
  width: 65%;
  height: 100%;
  margin: 0;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-height: fit-content;
  margin: 10% auto;
  max-width: fit-content;
  padding: 1em;
}
.project_title {
  margin: -1em;
  text-align: center;
  color: #101b4e;
}

@media screen and (max-width: 468px) {
  .project__wrapper {
    width: 5em;
    height: 5em;
  }
  .img_holder img {
    width: 5em;
    height: 5em;
  }
}