.about {
  display: flex;
  margin: auto auto auto 4.2em;
  align-content: center;
  justify-content: center;
  background-color: green;
  min-height: 100vh;
}

.img {
  margin: auto;
}

.info {
  align-content: center;
  margin: auto 1em auto 1em;
  padding-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .about {
    flex-wrap: wrap;
  }
  .img {
    display: none;
  }
}
