.about {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;

} 
picture{
  display: block;
  height: 100%;
}

img {
  margin: auto;
  width:100%;
  height:100%;
}

.info {
  margin: auto;
  padding:2em;
}
.info section h4{
  font-size: 2rem;
  margin:0;
}

@media screen and (max-width: 600px) {
 
  .img {
    display: none;
  }
  
  
}
