.contact {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding-top: 5em;
}
.contact header p {
  width: 50%;
  margin: auto auto 1em auto;
}
.contact a {
  text-decoration: none;
}
.sms{
  color: var(--blue);
  cursor: pointer;
}

.contact section {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  vertical-align: middle;
  margin: 0.5em 25% 0.5em 25%;
}
.contact h4,
.contact a,
.contact p {
  text-align: left;
  margin: 0;
  padding: 0;
}

.formHolder {
  display: block;
  margin: 10em auto;
  justify-content: center;
  background-color: var(--blue);
  padding: 1em;
  border: 2px solid black;
  width: fit-content;
}
.messageForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: var(--orange);
}
.messageForm > * {
  padding: 0.5em;
}

textarea {
  width: 20vw;
}

.notification{
  text-align: center !Important;
}
.button{
  margin: auto;
  background-color: unset;
  border: unset;
  font-size: 1rem;
  cursor: pointer;
}


@media screen and (max-width: 600px) {
  textarea {
    width: 57vw;
  }
}
