.contact {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: aqua;
  margin: auto;
  text-align: center;
}
.contact header p {
  width: 50%;
  margin: auto auto 1em auto;
}
.contact a {
  text-decoration: none;
}

.contact section {
  /* flex: 1; */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  vertical-align: middle;
  margin: 0.5em 25% 0.5em 25%;
}
.contact h4,
.contact a,
.contact p {
  text-align: left;
  margin: 0;
  padding: 0;
}
