body {
  --gray: rgb(44, 53, 49);
  --blue: #116466;
  --tan: #d9b08c;
  --peach: #ffcb9a;
  --lt-blue: #d1e8e2;
}

main {
  width: 100vw;
}

nav {
  position: fixed;
  top: 0;
  background-color: #0d0d38;
  text-align: center;
  color: orange;
  height: 100vh;
  max-width: min-content;
  z-index: 3;
}
