main {
  float: right;
  width: 100%;
}

nav {
  position: fixed;
  top: 0;
  background-color: #0d0d38;
  text-align: center;
  color: orange;
  height: 100vh;
  max-width: min-content;
  z-index: 1000;
}
