body {
  --blue: #001a33;
  --orange: #ffa500;
  --light-shadow :#fafa18;
  --dark-shadow: #0e1933;
  --light-text-shadow: #d1d4d4;
  overflow-x: hidden;
}

main {
  position: relative;
  margin-left:4.3em;
  width: calc(100vw - 4.3em);
  height:100vh;
}
