@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 2rem;
  /* background-color: lightGrey; */
}

.index >p{
  margin:0;
}

#firstName{
  color: transparent;
  text-align: center;
  margin:0;
  font-family: 'Gotu', sans-serif;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--blue);
    font-size: 20vh;  
}



@media screen and (max-width: 660px) {
  #firstName{
    font-size: 11vh;
  }
}
