<<<<<<< HEAD
#index {
  position: absolute;
  height: 100vh;
  width: calc(100vw - 4.3em);
  z-index: -1;
  overflow: hidden;
}

/* #index img{
  width: 100%;
  height: 100%;
} */
#overlay{
  position: absolute;
  height: 100vh;
  width: calc(100vw - 4.3em);
  z-index: 0;
  background-color: rgba(7, 6, 19, 0.405);
}
#info{
  position: absolute;
  bottom: 25px;
  left:-2.5em;
  width: fit-content;
  height:fit-content;
  background-color: rgba(7, 6, 1, 0.605);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.7); 
  color: azure;
}

#info strong{
  color: var(--orange);
  font-size: 1.5rem;
}
#info p{
  margin: 10px;
  font-size: 1.05rem;
=======
@import url("https://fonts.googleapis.com/css?family=Gotu&display=swap");

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 2rem;
  background-color: lightGrey;
}

.index > p {
  margin: 0;
}

#firstName {
  color: transparent;
  text-align: center;
  margin: 0;
  font-family: "Gotu", sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--blue);
  font-size: 20vh;
  text-shadow: 2px 2px var(--blue), -5px 4px var(--darkBlue);
}

@media screen and (max-width: 660px) {
  .index {
    font-size: 1.5rem;
  }
  #firstName {
    font-size: 11vh;
  }
>>>>>>> DEV
}
