@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: min-content;
  height: calc(100vh - 14px);
  padding: 7px;
  background-color: var(--gunmetal);
}
.title {
  font-family: "Great Vibes", cursive, 'Roboto', sans-serif;
  font-size: 2rem;
  cursor: pointer;
}

#navbar a {
  color: var(--skyBlue);
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  font-size: 1rem;
}
