@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");

.title {
  font-family: "Great Vibes", cursive;
  font-size: 1.5em;
  cursor: pointer;
  text-shadow: 0.75px 0.75px yellow;
  padding: 5px;
  margin: auto;
}
.title a {
  text-decoration: none;
}

.links a {
  display: block;
  margin-top: 5em;
  color: orange;
  text-decoration: none;
  text-shadow: 0.5px 0.5px #191a2c;
  font-size: medium;
  font-weight: 600;
  padding: 5px;
}
